
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
        <script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
        <script type="text/javascript" src="http://cdn.bootcss.com/css3pie/2.0beta1/PIE_IE678.js"></script>
        <![endif]-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
    <link type="text/css" rel="stylesheet" href="~/H-ui.admin/css/H-ui.css" />
    <link type="text/css" rel="stylesheet" href="~/H-ui.admin/css/H-ui.admin.css" />
    <link type="text/css" rel="stylesheet" href="~/H-ui.admin/font/font-awesome.min.css" />
    <script src="~/H-ui.admin/lib/layer/2.4/layer.js"></script>
    <!--[if IE 7]>
    <link href="http://www.bootcss.com/p/font-awesome/assets/css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <title>添加用户</title>
</head>
<body>
    <div class="pd-20">
        <div class="Huiform" align="left">
            <form action="/Administrator/UserInsert" method="post" id="admin-user-add">
                <table class="table table-bg">
                    <tbody>
                        <tr>
                            <th width="100" class="text-r"><span class="c-red">*</span> 用户名：</th>
                            <td><input type="text" style="width:200px" class="input-text" value="" placeholder="" id="user-name" name="AccountName" datatype="*2-16" nullmsg="用户名不能为空"></td>
                        </tr>

                        <tr>
                            <th width="100" class="text-r"><span class="c-red">*</span> 密码：</th>
                            <td><input type="password" style="width:200px" class="input-text" value="" placeholder="" id="user-pwd" name="Pwd"></td>
                        </tr>


                        <tr>
                            <th class="text-r"><span class="c-red">*</span> 性别：</th>
                            <td>
                                <label>
                                    <input name="Sex" type="radio" id="six_1" value="1" checked>
                                    男
                                </label>
                                <label>
                                    <input type="radio" name="Sex" value="0" id="six_0">
                                    女
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-r"><span class="c-red">*</span> 手机：</th>
                            <td><input type="text" style="width:200px" class="input-text" value="" placeholder="" id="user-tel" name="Phone"></td>
                        </tr>

                        <tr>
                            <th class="text-r"><span class="c-red">*</span> 加入时间：</th>
                            <td><input type="text" style="width:200px" class="input-text" value="" placeholder="" id="user-time" name="CreTime" onclick="WdatePicker()"></td>
                        </tr>

                        <tr>
                            <th class="text-r"><span class="c-red">*</span> 角色选择：</th>
                            <td>
                                @foreach (var item in ViewBag.zr as List<Exam.Back.Model.Roles>)
                                {
                                    <input type="checkbox" value="@item.RId" name="user-Character-0" id="user-Character-0">@item.RoleName
                                }

                            </td>
                        </tr>

                        <tr>
                            <th></th>
                            <td><button class="btn btn-success radius" type="button" onclick="Add()"><i class="icon-ok"></i> 确定</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/H-ui.admin/js/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="~/H-ui.admin/js/H-ui.js"></script>
    <script type="text/javascript" src="~/H-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript">
 
        function Add() {

            var str = "";
                    $("input[name='user-Character-0']:checked").each(function () {
                        str += $(this).val() + ',';
                    })
                    str = str.substring(0, str.length - 1);
            $.ajax({
                url: "/Administrator/UserInsert",
                type: 'post',
                data: {
                    AccountName: $("#user-name").val(),
                    Pwd: $("#user-pwd").val(),
                    Sex: $("[name='Sex']:checked").val(),
                    Phone: $("#user-tel").val(),
                    CreTime: $("#user-time").val(),
                    OwnRole: str
                },
                dataType: 'json',
                success: function (data) {
                    layer.msg('添加成功!', { icon: 1, time: 1000 })
                },
            });
            window.parent.location.reload();
            var index = parent.layer.getFrameIndex(window.name);
            parent.$('.btn-refresh').click();
            parent.layer.close();
        }
    </script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>