
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link href="~/H-ui.admin/static/h-ui/css/H-ui.min.css" rel="stylesheet" />
    <link href="~/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" />
    <link href="~/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" />
    <link href="~/H-ui.admin/static/h-ui.admin/skin/default/skin.css" rel="stylesheet" />
    <link href="~/H-ui.admin/static/h-ui.admin/css/style.css" rel="stylesheet" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>学生显示</title>
    <link href="~/H-ui.admin/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
</head>
<body class="pos-r">
    <div>
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 学院管理 <span class="c-gray en">&gt;</span> 学生管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="page-container">
            <div class="text-c">
                选择范围：
                <select id="CollegeSel" style="width:120px;height:25px;" onchange="GetStage()"><option value="0">请选择</option></select>
                <select id="selStage" style="width:120px;height:25px;" onchange="ChangeGrade()"><option value="0">请选择</option></select>
                <select id="selGrade" style="width:120px;height:25px;" onchange="GetPupil(1,3)"><option value="0">请选择</option></select>
                <input type="text" name="" id="PupilNameTxt" placeholder=" 学生名称" style="width:250px" class="input-text">
                <button name="" id="" class="btn btn-success" onclick="GetPupil(1,3)" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查找学生</button>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    @*<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>*@
                    <a class="btn btn-primary radius" onclick="AddCollege()" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 增加学生</a>
                </span>
                <span class="r">当前页学生：<strong><label id="StudentNum"></label></strong> 个</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover ">
                    <thead>
                        <tr class="text-c">
                            <th width="40"><input name="" type="checkbox" value=""></th>
                            <th width="60">学生姓名</th>
                            <th width="100">学生学号</th>
                            <th width="50">密码</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody id="body"></tbody>
                </table>
                <div id="PagesDiv" style="text-align:center"></div>
            </div>
        </div>
    </div>

    <!--_footer 作为公共模版分离出去-->
    <script src="~/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/H-ui.admin/lib/layer/2.4/layer.js"></script>
    <script src="~/H-ui.admin/static/h-ui/js/H-ui.js"></script>
    <script src="~/H-ui.admin/static/h-ui.admin/js/H-ui.admin.js"></script>
    <!--请在下方写此页面业务相关的脚本-->
    <script src="~/H-ui.admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/H-ui.admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script src="~/H-ui.admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script src="~/H-ui.admin/lib/laypage/1.2/laypage.js"></script>
    <script>
        $(function () {
            GetCollege();
            GetStage();
            ChangeGrade();
            GetPupil(1,3);
        })

        //首先拼接添加学生所需要的行
        function AddCollege() {
            if ($("#selGrade").val() == 0) {
                layer.msg("请选择班级", { icon: 5, Time: 1000 });
                return;
            }
                $("#body").append(
                    "<tr class= 'text-c va-m' id='ceshi'>" +
                    "<td colspan='2'><input type='text' name=''  id='txtPupilName' placeholder='   学生名称' style='width:300px;height:25px;border:1px solid #ccc' class='input - text'></td>" +
                    "<td colspan='2'><input type='text' name=''  id='txtPupilPwd' placeholder='    登录密码' style='width:300px;height:25px;;border:1px solid #ccc' class='input - text'></td>" +
                    "<td class='td-manage'><a class='btn btn - primary radius' id='Hiide' href='javascript:; '><i class='Hui - iconfont'>&#xe600;</i> 取消添加</a><a class='btn btn - primary radius' onclick='AddPupils()' href='javascript:; '><i class='Hui - iconfont'>&#xe600;</i> 添加</a></td > " +
                    "</tr>"
                );


            //sessionStorage.setItem("ClassId", $("#selGrade").val());/
            //layer_show("添加学生", "/Pupil/AddPupil", 600, 500);
            //location.replace(location.href);
            //if (sessionStorage.getItem("Guan") == 1) {
            //    GetPupil(1, 3);
            //}
        }

        //清除添加操作控件
        $(document).on("click", '#Hiide', function () { $("#ceshi").remove(); });


        //添加学生
        function AddPupils() {
            if ($("#txtPupilName").val == "") {
                alert("请输入学生名称");
                return;
            }
            if ($("#txtPupilPwd").val() == "") {
                alert("请输入用户密码");
                return;
            }
            var date = new Date();
            var number = date.getFullYear().toString() + (date.getMonth() + 1).toString() + date.getDate().toString() + date.getHours().toString() + date.getMinutes().toString() + date.getUTCSeconds().toString();
            var data = {
                StudentName: $("#txtPupilName").val(),
                StudentNumber: number,
                StudentPassWord: $("#txtPupilPwd").val(),
                ClassId: $("#selGrade").val()
            };
            $.ajax({
                url: "/Pupil/AddPupilNoView",
                type: "post",
                dataType: "json",
                data: data,
                success: function (data) {
                    if (data > 0) {
                        layer.msg("添加成功", { icon: 1, Time: 1000 });
                        setTimeout(function () { GetPupil(1,3) }, 1000);
                    }
                    else {
                        layer.msg("添加失败", { icon: 2, Time: 1000 });
                    }
                }
            })
        }

        //获取所有的学院绑定下拉框
        function GetCollege() {
            $.ajax({
                url: "/College/GetCollegeList",
                type: "get",
                dataType: "json",
                data: { CollegeName: "", PageIndex: 1, PageSize: 1000 },
                success: function (data) {
                    $("#CollegeSel").empty();
                    $("#CollegeSel").append("<option value='0'>请选择学院</option>");
                    $(data.Data).each(function () {
                        $("#CollegeSel").append("<option value='" + this.Id + "'>" + this.CollegeName + "</option>");
                    })
                }
            })
        }

        //绑定阶段下拉
        function GetStage() {
            var CollegeId = $("#CollegeSel").val();
            $.ajax({
                url: "/Pupil/GetStageList?CollegeId=" + CollegeId,
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#selStage").empty();
                    $("#selStage").append("<option value='0'>请选择阶段</option>");
                    $(data).each(function () {
                        $("#selStage").append("<option value='" + this.Id + "'>" + this.StageName + "</option>");
                    })
                }
            })
        }
        //跳转到阶段页面
        function GoToStage() {
            location.href = "/Stage/GetStage";
        }

        //绑定班级下拉
        function ChangeGrade() {
            var StageId = $("#selStage").val();
            $.ajax({
                url: "/Pupil/GetGradeList?StageId=" + StageId,
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#selGrade").empty();
                    // if (StageId == 0) {
                    $("#selGrade").append("<option value='0'>请选择班级</option>");

                    // }
                    $(data).each(function () {
                        $("#selGrade").append("<option value='" + this.Id + "'>" + this.ClassName + "</option>");
                    })
                }
            })
        }

        //获取对应的所有学生，并分页显示
        function GetPupil(index, size) {
            var GradeId = $("#selGrade").val();
            var PupilName = $("#PupilNameTxt").val();
            $.ajax({
                url: "/Pupil/GetPupilList",
                type: "get",
                dataType: "json",
                data: { GradeId: GradeId, PageIndex: index, PageSize: size, PupilName: PupilName },
                success: function (data) {
                    $("#body").empty();
                    $("#StudentNum").html(data.Data.length)
                    $(data.Data).each(function () {
                        $("#body").append(
                            "<tr class= 'text-c va-m'>" +
                            "<td><input name='' type='checkbox' value=''></td>" +
                            "<td>" + this.StudentName + "</td>" +
                            "<td>" + this.StudentNumber + "</td>" +
                            "<td>" + this.StudentPassWord + "</td>" +
                            "<td class='td-manage'><a style='text-decoration:none' class='ml-5' onClick='UpdatePupil(" + this.Id + ")' href='javascript:;' title='编辑'><i class='Hui-iconfont'>&#xe6df;</i></a> <a style='text-decoration:none' class='ml-5' onClick='DeletePupil(" + this.Id + ")' href='javascript:;' title='删除'><i class='Hui-iconfont'>&#xe6e2;</i></a></td>" +
                            "</tr>"
                        );
                    })
                    Paging(index, size, data.Count);
                }
            })
        }

        //分页
        function Paging(PageIndex, PageSize, Count) {
            //$("#'" + Name + "'").empty();
            $("#PagesDiv").empty();
            var CurrentPage = Math.ceil(Count / PageSize);
            $("#zhui").append("&nbsp共有:<label>" + CurrentPage + "</label>页");
            var str = "";
            if (PageSize == Count && PageIndex == 1 || PageSize > Count) {
                str += "<label>首页</label>" + "&nbsp";
                str += "<label>上一页</label>" + "&nbsp";
                str += "<label>下一页</label>" + "&nbsp";
                str += "<label>最后一页</label>" + "&nbsp";
                str += "<label>当前第" + PageIndex + "页</label>";
            }
            else if (PageIndex == 1 && Count > PageSize) {
                str += "<label>首页</label>" + "&nbsp";
                str += "<label>上一页</label>" + "&nbsp";
                str += "<a href='#' style='color:blue' onclick='GetPupil(" + (PageIndex + 1) + "," + PageSize + ")'>下一页</a>" + "&nbsp";
                str += "<a href='#' style='color:blue' onclick='GetPupil(" + CurrentPage + "," + PageSize + ")'>最后一页</a>" + "&nbsp";
                str += "<label>当前第" + PageIndex + "页</label>";
            }
            else if (PageIndex > 1 && PageIndex < CurrentPage) {
                str += "<a href='#' style='color:blue' onclick='GetPupil(" + 1 + "," + PageSize + ")'>首页</a>" + "&nbsp";
                str += "<a href='#' style='color:blue' onclick='GetPupil(" + (PageIndex - 1) + "," + PageSize + ")'>上一页</a>" + "&nbsp";
                str += "<a href='#' style='color:blue' onclick='GetPupil(" + (PageIndex + 1) + "," + PageSize + ")'>下一页</a>" + "&nbsp";
                str += "<a href='#' style='color:blue' onclick='GetPupil(" + CurrentPage + "," + PageSize + ")'>最后一页</a>" + "&nbsp";
                str += "<label>当前第" + PageIndex + "页</label>";
            }
            else {
                str += "<a href='#' style='color:blue' onclick='GetPupil(" + 1 + "," + PageSize + ")'>首页</a>" + "&nbsp";
                str += "<a href='#' style='color:blue' onclick='GetPupil(" + (PageIndex - 1) + "," + PageSize + ")'>上一页</a>" + "&nbsp";
                str += "<label>下一页</label>" + "&nbsp";
                str += "<label>最后一页</label>" + "&nbsp";
                str += "<label>当前第" + PageIndex + "页</label>";
            }
            //$("#'" + Name + "'").append(str);
            $("#PagesDiv").append(str);
        }

        //修改跳转模态窗
        function UpdatePupil(id) {
            if ($("#selGrade").val() == 0) {
                layer.msg("请选择班级", { icon: 5, Time: 1000 });
                return;
            }
            if ($("#selStage").val() == 0) {
                layer.msg("请选择学院", { icon: 5, Time: 1000 });
                return;
            }
            sessionStorage.setItem("StageId", $("#selStage").val());
            sessionStorage.setItem("StudentId", id);
            layer_show("修改学生信息", "/Pupil/UpdatePupil", 600, 300);
        }

        //删除学生
        function DeletePupil(PupilId) {
            if (confirm("开除学籍不可恢复,是否继续?")) {
                $.ajax({
                    url: "/Pupil/DeletePupil?PupilId=" + PupilId,
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        if (data > 0) {
                            layer.msg("删除成功", { icon: 1, Time: 1000 });
                            setTimeout(function () { GetPupil(1, 3); return; }, 1000);
                        }

                    }
                })
            }
        }
    </script>
</body>
</html>
